.Footer {
    .padding();
    .section-padding(@pt: 20px; @pb: 20px; @ptbp: 20px; @pbbp: 20px);
    background-color: @white;
    text-align: center;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Footer-copyright {
    .p;
    margin: 0;
}

.Footer-social {
    .reset-list;
    display: flex;
    justify-content: center;
    margin: 0 -15px;
}

.Footer-social_item {
    margin: 0 15px;
    a {
        .link-revert();
        .link-primary();
        &:before {
            font-size: 25px;
        }
    }
}

.Email {
    background-color: @teal;
}

.Email-container {
    padding: 0 0 40px;
    text-align: center;
    @media (min-width: @vp-sm) {
        padding: 0 0 60px;
    }
}

.Email-link {
    .link-revert();
    .button-primary();
    i {
        &:before {
            font-size: 20px;
            margin-right: 5px;
        }
    }
}